@{
    ViewBag.Title = "IDEIBIBLIO - Login";
}

<h2 class="content_title">Login</h2>
<hr class="title_hr" />

<div style="margin: 0 auto; text-align:center; border: 1px solid #000; width:500px;">
    <table border="0" cellpadding="0">
        <tr>
            <td><span class="formText">Username:</span></td>
            <td><input name="pass" class="inputs" /></td>
        </tr>
                <tr>
            <td><span class="formText">Password:</span> </td>
            <td><input name="user" type="password" class="inputs" /></td>
        </tr>
     
    
        </table>
</div>
